.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 10px;
  color: brown;
}
.dialogsItems .activ {
  color: black;
}
/* .dialog {
  /* color: black;
} */
.messages {
  padding: 10px;
}
.message {
}
